

.div__main3 {   
    background:var(--cor-bg);
    border-radius: 2em;
    margin:2em;   
    height: 50vh;
     
   

}

.img {   
    align-items: center;
    width: 50%;
}

.button__main2 {
    
    background-color: black;
}