
/*Sec 1*/
.sec__main {
    text-align: center;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    gap: 1em;
   
  
}

.div__main {
    background-image: url("/assets/images/cart/image-xx99-mark-one-headphones.jpg");
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
    
}


.div__main2 {
    background-image: url("/assets/images/cart/image-zx9-speaker.jpg");
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.div__main3 {
    background-image: url("/assets/images/cart/image-zx7-speaker.jpg");
    background-size: cover 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.arrow {
    color: var(--cor-bg);
    text-decoration: none;
}
