@import url("./header/header.css");
@import url("./main/main.css");
@import url("./main/extra.css");
@import url("./main/produtos.css");
@import url("./footer/footer.css");
    

:root {
    --ff-all: 'Manrope', sans-serif;
    --cor-text:#fff;
    --cor-bg:#FF7F50;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}