@import url("./header/header.css");
@import url("./main/main.css");
:root {
    --ff-all: 'Manrope', sans-serif;
    --cor-text:#fff;
}

body {
    width: 100vw;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}