.main {        
    text-align: center;
     
    
    
}

.div__main{
    align-items: center;
    background-image: url('/assets/images/home/mobile/image-hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    height: 40vh;    
    width: 100vw;
   
  
}

.span {
    color:var(--cor-text);
}


.title__main {
    color: var(--cor-text);
    font-family: var(--ff-all);
    font-weight: 700;
    margin-top: 1em;
    
}

.p__main {
    align-items: center;
    color: var(--cor-text);
    display: inline-block;
    font-family: var(--ff-all);
    font-weight: 500;
    margin-top: 1em;   
   
    
    
 

}

.button__main {
    color: var(--cor-text);
    background-color: var(--cor-bg);    
    padding: 1em 1.5em;
    text-decoration: none;
    margin-top: 1em;
}