

.div__main3 {   
    background:var(--cor-bg);
    border-radius: 1em;
    margin:1em;   
    height: 50vh;
    width: 90vw;
    
     
   

}

.img {   
    align-items: center;
    width: 50%;
}

.button__main2 {
    
    background-color: black;
}

/*div  4*/

.div__main4 {
    background-image: url('/assets/images/home/mobile/image-speaker-zx7.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    height: 40vh;   
    width: 90vw;
    margin: 1em;
    
    
 
}

/*div  5*/

.img__2 {
    height: 25vh;
    border-radius: 1em;
    width: 90vw;
   

}

/*div  6*/

.div__main6 {
  background-color: lightgray;
  border-radius: 1em;
  height: 20vh;   
  width: 90vw;
  margin: 1em;
  
}

.button__main3{
    background-color: lightgray;    
    padding: 1em 1.5em;
    text-decoration: none;
    
   

}


/*div  7*/

.img__3 {
    height: 30vh;
    border-radius: 1em;
    width: 90vw;
    margin-bottom: 1em;

}

.p__div {
    text-transform: lowercase;
    text-align: center;
    margin-top: 1em;
}


.strong__div {
    color: var(--cor-bg);
    text-transform: uppercase;
}

@media screen and  (min-width:768px) {
    .p__div {
        font-size: 2em;
    }
    
}

